@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .output {
  background-color: white;
  grid-column: span 4;
  height: 80px;
  text-align: right;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 30px;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #0c2835;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.calculator span:active {
  background: #74ff3b;
  color: #111;
}
.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #ff3077;
}
.calculator span.clear:active {
  background: #74ff3b;
  color: #111;
}
.calculator span.equal {
  grid-row: span 2;
  background: #03b1ff;
  height: 120px;
}
.calculator span.equal:active {
  background: #74ff3b;
  color: #111;
}
.calculator span.zero {
  grid-column: span 2;
  width: 120px;
}
